<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.sj.s1.bankbook.BankbookDAO">
    	<select id="list" resultType="BankbookDTO">
    		select * from bankbook
    	</select>
    		
    	<select id="detail" parameterType="Long"  resultType="com.sj.s1.bankbook.BankbookDTO">
    	select * from bankbook where booknumber=#{num}
    	</select>
    	
    	<insert id="add" parameterType="com.sj.s1.bankbook.BankbookDTO">
    	insert into bankbook (booknumber, bookname, bookcontents, bookrate, booksale)
    	values(bankbook_seq.nextval, #{bookName}, #{bookContents},#{bookRate},#{bookSale} )
    	</insert>

		<delete id="delete" parameterType="com.sj.s1.bankbook.BankbookDTO" >
			delete bankbook where booknumber = #{bookNumber}
		</delete>
 	
    	
    </mapper>  