<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.sj.s1.dept.DepartmentDAO">
    	<select id="list" resultType="com.sj.s1.dept.DepartmentDTO">
    		SELECT * FROM DEPARTMENTS
    	</select>
    </mapper>